* {
    font-family: 'Brush Script MT', 'Trebuchet MS', 'Tahoma', sans-serif;
    box-sizing: border-box;
}

* {
    padding:0px;
    border:0px;
    margin:0px;
}

body {
    background-color: bisque;
}

h1, h2 {
    color: rgb(255, 201, 52);
    background-color:darkred;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    border: 5px outset rgb(255, 201, 52);
}

h1 {
    font-size: 48px;
    padding: 8px;
}

h2 {
    font-size: 34px;
    padding: 4px;
    border-width: 2px;
    margin: 8px 0px;
}

li, a, p {
    font-size: 28px;
    color:rgb(0, 0, 0);
    text-rendering:geometricPrecision;
    font-weight: 500;
}

img {
    width: 400px;
    border:7px ridge rgb(255, 201, 52);;
}

ol {
    padding: 0px 40px; 
}

ol li {
    margin: 8px;
}

.container {
    text-align: center;
}

.center-list {
    display: inline-block;
    text-align: left;
    margin-top: 16px;
    padding:8px;
}

.description {
    display: inline-block;
    text-align: center;
    width:60%;
    padding: 0px 40px;
    margin: 40px 0px 32px;
}

.description p {
    margin: 8px 16px;
}
.center-img {
    display: inline-block;
    width:39%;
    vertical-align:top;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}